@media screen and (max-width: 800px) {
  #home {
    section:first-of-type {
      img {
        top: -60px;
      }

      div {
        right: -10%;
        float: none;
        margin: auto;
      }
    }

    section:last-of-type {
      flex-direction: column;

      div {
        padding: 40px 0;
        width: 90%;
        margin: auto;
      }
    }
  }
}


@media screen and (max-width: 550px) {
  #profil {
    div.accountBalance {
      flex-direction: column;
      text-align: center;
      gap: 20px;

      button {
        margin-right: auto;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #home {
    section:first-of-type {
      div {
        right: 0;
        padding: 5px;
      }
    }
  }
}
